<h1>Mis notas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.description %></td>
        <td><%= link_to 'Ver', note %></td>
        <td><%= link_to 'Editar', edit_note_path(note) %></td>
        <td><%= link_to 'Eliminar', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nota', new_note_path %>
