<h1>Nota del <span class"note_date"><%= @note.created_at.to_date %></span></h1>
<p>
  <label>Título:</label>
  <%= @note.title %>
</p>

<p>
  <label>Descripción:</label>
  <%= @note.description %>
</p>

<%= link_to 'Editar', edit_note_path(@note) %> |
<%= link_to 'Atras', notes_path %>
