<h2>Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, "Correo electrónico" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Recordarme" %>
    </div>
  <% end -%>

  <%= f.submit "Entrar", class: "btn btn-primary" %>
<% end %>

<%= render "users/shared/links" %>
