<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mis notas</title>  
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<%= bootstrap_flash %>
				<%= yield %>
			</div>
		</div>
		<% if user_signed_in? %>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<ul class="list-inline pull-right">	                       
		        <li>
		          <%= link_to destroy_user_session_path, method: :delete do %>
		            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir
		          <% end %>
		        </li>
	      	</ul>
				</div>
			</div>
		<% end %>
	</div>
</body>
</html>
